<p id="notice"><%= notice %></p>

<p>
  <strong>Sender's Name:</strong>
  <%= @shipment.sendername %>
</p>

<p>
  <strong>Receiver's Name:</strong>
  <%= @shipment.receivername %>
</p>

<p>
  <strong>Shipped From:</strong>
  <%= @shipment.originlocation %>
</p>

<p>
  <strong>Tracking Number:</strong>
  <%= @shipment.trackingnumber %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @shipment.destination %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shipment.status %>
</p>

<p>
  <strong>Current / Last Know Location:</strong>
  <%= @shipment.lastscan %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
